extends layout

block head_content
  link(rel="stylesheet" href="/third_party/remodal/remodal.css")
  link(rel="stylesheet" href='/third_party/remodal/remodal-default-theme.css')
  link(rel='stylesheet' href='/stylesheets/infoBox.css')
  script(type="application/javascript", src="/third_party/remodal/remodal.min.js")

block body_content
  
  div.page_exp マップに表示されていない観光スポットをピックアップしています。
  div.page_exp 一つ目の枠に記載した観光スポットは，wikipediaのページに座標を記入すると，ホームに取り込まれます。
  div.page_exp 二つ目の枠では，ウィキコンシェルジュに登録して欲しい観光スポットを投稿できます。
  
  div#lastmod
  div#already_added
    h2 座標が登録されていない岡山県の観光スポット
    div#NoCoordinatePlaces
      
  div#befor_adding
    div#form_unregistered
      h2.inline-block 追加してほしい岡山県の観光スポット
      button#add_button.inline-block(data-remodal-target="modal") 追加
      button#del_button.inline-block(type='button' onclick='DeleteMode()') 削除
    div#UnregisteredPlaces
  
  div.remodal-bg
    
  div.remodal(data-remodal-id="modal")
    button(data-remodal-action="close" class="remodal-close")
    p ウィキコンシェルジュに追加して欲しい岡山県の観光スポット名を入力してください
    br
    input#textform_unregistered.remodal-textform(type="text" name="textform_unregistered" placeholder=' 観光スポット名')
    button.remodal-confirm(data-remodal-action="confirm") 送信
  
  script(type='text/javascript' src='/javascripts/infoBox.js')
