extends layout

block head_content
  link(rel='stylesheet' href='/stylesheets/infoBox.css')

block body_content
  h2 座標が登録されていない観光施設
  div#NoCoordinatePlaces
  h2 wikipedia に登録されていない観光施設
  div#UnregisteredPlaces
  
  script(type='text/javascript' src='/javascripts/infoBox.js')
