doctype html
html(lang="ja")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= title
    script(type='text/javascript' src='/third_party/jquery-3.1.1.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    block head_content

  body
    script(type='text/javascript' src='/javascripts/config.js')
    block body_content
