extends layout

block head_content
  link(rel='stylesheet' href='/third_party/leaflet_v0.7.7.css')
  link(rel='stylesheet' href='/stylesheets/wikiMap.css')
  script(type='text/javascript' src='/third_party/leaflet_v0.7.7.js')

block body_content
  //- div.title
  //-   div.title_main
  //-     ウィキコンシェルジュ
  div#view
    div#map
    div#information
  script(type='text/javascript' src='/javascripts/wikiMap.js')
