doctype html
html(lang="ja")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title
      ウィキコンシェルジュ
    link(rel='stylesheet' href='/third_party/leaflet_v0.7.7.css')
    link(rel='stylesheet' href='/stylesheets/wikiMap.css')
    script(type='text/javascript' src='/third_party/jquery-3.1.1.min.js')
    script(type='text/javascript' src='/third_party/leaflet_v0.7.7.js')

  body
    div.title
      div.title_main
        ウィキコンシェルジュ
    div#view
      div#map
      div#information
    script(type='text/javascript' src='/javascripts/config.js')
    script(type='text/javascript' src='/javascripts/wikiMap.js')
