.inline-block {
  display: inline-block;
}

#already_added {
  padding: 2% 4%;
  background-color: rgba(177, 215, 228, 0.6);
  border-radius: 1em;
  margin: 2% 0;
}

#befor_adding {
  padding: 2% 4%;
  background-color: rgba(222, 150, 16, 0.4);
  border-radius: 1em;
}

#NoCoordinatePlaces {
  padding: 0 1em;
}

.place_tag {
  display: inline-block;
  margin: 0.4em;
  padding: 0.3em;
  color: white;
  background-color: #00da00;
  border-radius: 0.5em;
  cursor: pointer;
}
.place_tag:hover {
  opacity:0.8;
}

#UnregisteredPlaces {
  padding: 1em 1em;
}

#form_unregistered {
  padding-left: 1em;
  height: 50px;
}
#form_unregistered input {
  padding: 0;
  height: 38px;
  vertical-align: middle;
}
#form_unregistered button {
  height: 40px;
  vertical-align: middle;
}

#UnregisteredPlaces {
  padding: 1em 1em;
}
