.inline-block {
  display: inline-block;
}

#already_added {
  /* 上 右 下 左 */
  padding: 0.5em 2em 1.5em 2em;
  background-color: rgba(177, 215, 228, 0.6);
  border-radius: 1em;
  margin: 2% 0;
}

#befor_adding {
  padding: 0.5em 2em 1.5em 2em;
  background-color: rgba(222, 150, 16, 0.4);
  border-radius: 1em;
}

#NoCoordinatePlaces {
  padding: 0 1em;
}

.place_tag {
  display: inline-block;
  margin: 0.4em;
  padding: 0.3em;
  color: white;
  background-color: #00da00;
  border-radius: 0.5em;
  cursor: pointer;
}
.place_tag:hover {
  opacity:0.8;
}

#form_unregistered {
  /* height: 6em; */
}
#form_unregistered h2{
  vertical-align: middle;
}
#form_unregistered input {
  font-size: 3;
  margin-left: 2em;
  margin-right: 0.3em;
  font-family:Arial, sans-serif;
  height: 1.5em;
  padding-left: 0.5em;
  vertical-align: middle;
  border-radius: 0.5em;
  background-color: #fff;
}
#form_unregistered button {
  height: 2.2em;
  vertical-align: middle;
  border-radius: 0.5em;
  background-color: #fff;
}

#UnregisteredPlaces {
  padding: 0 1em;
}
