.inline-block {
  display: inline-block;
}

#NoCoordinatePlaces {
  padding: 0 1em;
}

.NoCoordinatePlaces_tag {
  display: inline-block;
  margin: 0.4em;
  padding: 0.3em;
  color: white;
  background-color: #00da00;
  border-radius: 0.5em;
  cursor: pointer;
}
.NoCoordinatePlaces_tag:hover {
  filter:alpha(opacity=80);
  opacity:0.8;
}

#header_unregistered {
  height: 80px;
  line-height: 50px;
}

#form_unregistered {
  padding-left: 1em;
  height: 50px;
}
#form_unregistered input {
  padding: 0;
  height: 38px;
  vertical-align: middle;
}
#form_unregistered button {
  height: 40px;
  vertical-align: middle;
}

#UnregisteredPlaces {
  padding: 1em 1em;
}

.UnregisteredPlaces_tag {
  display: inline-block;
  margin: 0.4em;
  padding: 0.3em;
  color: white;
  background-color: #00da00;
  border-radius: 0.5em;
  cursor: pointer;
}
.UnregisteredPlaces_tag:hover {
  filter:alpha(opacity=80);
  opacity:0.8;
}
