html { width: 100%; height: 100%; }
body {
  width: 90%;
  height: 100%;
  margin: 0 5%;
}
#header {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
}

#header .header_elem {
  display: inline-block;
  margin: 0.5em 0.2em;
}

#header .title {
  font-size: 5vh;
  margin-right: 1em;

  position: relative;
  padding: 0.2em 0.7em 0.15em 0.7em;
  /* padding: 5px 26px 5px 42px; */
  background: #fff0d9;
  color: #2d2d2d;
  line-height: 1.3;
  border-bottom: solid 3px orange;
  z-index:-2;
}
/* #header .title:before {
position: absolute;
content: '';
left: -2px;
top: -2px;
width: 0;
height: 0;
border: none;
border-left: solid 40px white;
border-bottom: solid 79px transparent;
z-index: -1;
}

#header .title:after {
position: absolute;
content: '';
right: -3px;
top: -7px;
width: 0;
height: 0;
border: none;
border-left: solid 40px transparent;
border-bottom: solid 79px white;
z-index: -1;
} */

#header a {
  border: 2px solid;
  border-radius: 15px;
  padding: 10px;
  color: #65ace4;
  background-color: #fff;
  text-decoration: none;
}
#header a.current_page{
  border: 2px solid #65ace4;
  border-radius: 15px;
  padding: 10px;
  color: #fff;
  background-color: #65ace4;
  text-decoration: none;
}

#lastmod {
  font-size: 10px;
  margin-right: 5%;
  text-align: right;
}
