.title_main {
  height: 3em;
  text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#page_exp {
  margin-left: 5%;
}

#view {
  height: 80%;
  text-align: center;
  /* display: flex; */
}

#map {
  width: 60%;
  height: 100%;
  display: inline-block;
}

#metrics_selectors {
  width: 100%;
  position: absolute;
  z-index: 2;
}
.metrics_selector_elem {
  z-index: 3;
  outline: none;
  background-color: #ccc;
  color: #777;
  cursor: pointer;
}
.metrics_selector_elem[value='on'] {
  background-color: #fff;
  color: #000;
}

.PopupMessage {
  max-width: 350px;
  max-height: 100px;
  overflow: scroll;
}
.PopupMessage.click {
  max-height: 200px;
}

#information {
  width: 30%;
  height: 100%;
  display: inline-block;
  border: 1px solid;
  vertical-align: top;
  overflow: scroll;
}
#information .info_content {
  width: 100%;
  height: 20%;
  display: table;
  box-sizing: border-box;　
}
#information .active {
  border: 4px solid #00CCFF;
}
#information .info_content:hover {
  opacity: 0.8;
}

#information .info_content_inner {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
#information .info_content_inner.class_type0 {
  background-color: #b0e0e6;
}
#information .info_content_inner.class_type1 {
  background-color: #e0ffff;
}

#information .info_content_inner img {
  max-width: 100%;
  height: 16vh;
  object-fit: contain;
  -webkit-box-sizing: border-box; /* Webkit系用 */
  -moz-box-sizing: border-box;     /* Firefox用 */
  box-sizing: border-box;
  vertical-align: middle;
}
#information .info_content_inner .textbox {
  margin: auto;
  vertical-align: middle;
}

#explanation {
  width: 95%;
  background-color: #efefef;
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 2em;
}
#explanation p {
  margin: 0 4em 0 1em;
}

#legend {
  /* border: 2px solid; */
  border-radius: 20px;
  background-color: #f9f9f9;
  margin: 1em;
}
#legend .label {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 20px;
}
#legend .img_td {
  vertical-align: bottom;
}
#legend img {
  filter: hue-rotate(240deg);
}
#legend .level_cell {
  text-align: center;
}
